.App {
  text-align: center;
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
}
:any-link {
  text-decoration: none;
  color: unset;
}

.center {
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}

.App-logo {
  margin-top: 5vh;
  height: 35vh;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.darkmode-button {
  align-self: flex-start;
  margin-top: 6vh;
  position: absolute;
  margin-left: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.darkmode-img {
  height: 5vh;
  margin-right: 1vw;
}

.clickable {
  cursor: pointer;
}

.light-text {
  color: #000;
  text-decoration: none;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  transition: all 0.1s linear;
}
.dark-text {
  color: #1b1721;
  text-decoration: none;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #7fd2cd;
  transition: all 0.1s linear;
  border-color: #7fd2cd !important;
}
.dark-input {
  background: #1b1721;
  caret-color: #c0e8e8;
  transition: all 0.5s linear;
}
.light-input {
  transition: all 0.5s linear;
  background: white;
}
.s-options {
  margin-top: 5vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.s-button {
  font-size: 25px;
  border-radius: 4px;
  border: #000 2px solid;
  flex: 0 1 400px;
  height: 10vh;
  text-transform: uppercase;
  font-weight: bold;
}
.s-button:hover {
  font-size: 24.8px;
  height: 9.8vh;
  margin: 2.1vh 2vw;
  box-shadow: #000 2px 2px;
}

.button {
  margin: 2vh 2vw;
  cursor: pointer;
  box-shadow: #000 5px 5px;
}
.button:hover {
  margin: calc(2vh + 3px) 2vw calc(2vh-3px) 2vw;
  box-shadow: #000 2px 2px;
}

.s-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s-h1 {
  font-size: 25px;
  height: 5vh;
  text-transform: uppercase;
}

.s-input {
  max-width: 90vw;
  width: 600px;
  font-size: 25px;
  height: 5vh;
  text-align: center;
}

.s-button-small {
  border: #000 2px solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 2vh 2vw;
  cursor: pointer;
  box-shadow: #000 5px 5px;
}

.s-button-small:hover {
  height: 48px;
  width: 48px;
  margin: calc(2vh + 2px) 2vw calc(2vh) 2vw;
  box-shadow: #000 2px 2px;
}

.pop-area {
  width: 600px;
  max-width: 90vw;
  border: 2px #000 solid;
  height: 10vh;
}

.pop-h1 {
  text-transform: uppercase;
  font-size: 20px;
  height: 30%;
}

.pop-number {
  font-size: 50px;
  height: 70%;
}

.city {
  height: 5vh;
  border: 2px #000 solid;
  margin: 1vh 0;
  width: 400px;
  max-width: 90vw;
  font-size: 30px;
  text-transform: capitalize;
  box-shadow: #000 5px 5px;
}
.city:hover {
  font-size: 29px;
  height: 4.8vh;
  width: 396px;
  margin: 1.1vh 2px;
  box-shadow: #000 3px 3px;
}

.l-bar {
  height: 4.8vh;
  width: 396px;
  border: 2px #000 solid;
  margin: 1.1vh 2px;
  max-width: 90vw;
  font-size: 30px;
}

.l-text {
  z-index: 5;
  color: #000;
  position: relative;
  bottom: 4.5vh;
}

.anim {
  width: 100%;
}

.l-bar { 
  height: 4.8vh;
  width: 396px;
	position: relative;
  border: 2px #000 solid;
  margin: 1.1vh 2px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.l-bar > span {
  display: block;
  height: 100%;
  background-color: rgba(248, 248, 248, 0.638);
  box-shadow: 
    inset 0 2px 7px  rgba(255, 255, 255),
    inset 0 -2px 4px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.l-bar > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgb(0, 0, 0) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgb(0, 0, 0) 50%, 
    rgb(0, 0, 0) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 100px 100px;
  animation: move 2s linear infinite;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
